<div class="navbar">
    <%= link_to 'Personal', "#", :id => "navbar_links" %>
    <%= link_to 'Education', "#", :id => "navbar_links" %>
    <%= link_to 'Projects', "#", :id => "navbar_links" %>
</div>