<div class="navbar">
    <div class="navbar navbar-collapse">
    <%= link_to 'Personal', "#", :class => "navbar navbar_links" %>
    <%= link_to 'Education', "#", :class => "navbar navbar_links" %>
    <%= link_to 'Projects', "#", :class => "navbar navbar_links" %>
    </div>
</div>