.navbar {
  justify-content: left;
  background: black;
  color: white;
  margin: 0;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar_links:hover {
  color: beige;
}

.navbar .navbar-brand img {
  width: 40px;
}
