.navbar {
  display: flex;
  background: black;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
  position: fixed;
  width: 100%;
}

.navbar-collapse {
  flex-grow: 0;
}

#navbar_links {
  color: white;
  margin: 0 auto;
  justify-content: space-around;

}

.navbar_links:hover {
  color: beige;
}
